# API Credentials
.env
config.py
secrets.json

# Python Environment
venv/
env/
ENV/
bin/
lib/
include/

# Python Cache and Compiled Files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Local Data
data/raw/*.csv
data/raw/*.json
data/processed/*.csv
*.log
*.sqlite

# OS & IDE Specific
.DS_Store
.vscode/
.idea/
.project
.pydevproject